<<<<<<< HEAD

:root {
  --global--ItemPadding--sm: 10px;
  --global--HeaderItemPadding--sm: 2rem;
  --global--ContainerHeight--100: 100vh;
}

.App {
=======
:root {
  --padding-above-lg: 5rem;
  --padding-above-sm: 0.5rem;
  --total-padding-sm: 1rem;
}

html {
  overflow: hidden;
}

.App {
  overflow: auto;
  background-color: rgb(223, 222, 222);
  height: 100vh;
}

.splash-page-container {
  padding-top: var(--padding-above-lg);
>>>>>>> 59c43609ababd54a2f7dc8905f455ae9630a34e2
  text-align: center;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app-container {
  height: var(--global--ContainerHeight--100);
}

.nav-header {
  color: white;
}

.nav-link-text {
  color: white;
  padding-top: var(--global--ItemPadding--sm);
}

.form-container {
  padding-top: var(--padding-above-sm);
  margin-top: 5rem;
  margin-bottom: 10rem;
  margin-right: 30rem;
  margin-left: 30rem;
  border: 1px solid;
  background-color: white;
}

.form-title {
  margin-bottom: 2.5rem;
}

.form-group {
  padding: var(--total-padding-sm);
}

.header-text,
.header-link,
.page-title {
  color: white;
}

.header-text,
.header-link {
  padding-top: var(--padding-above-sm);
}

.button-container {
  text-align: center;
  margin-bottom: 5rem;
}

.submit-button-container {
  padding-top: var(--global--HeaderItemPadding--sm);
}
 