* {
  font-family: "Overpass", sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.blueprints-container {
  max-width: 100%;
}

.card-custom {
  max-width: 328px;
  margin: 0 auto;
}

.form-container {
  max-width: 100%;
}

.form-custom {
  max-width: 328px;
  margin: 0 auto;
}

.nav-header {
  color: white;
}

.nav-link-text {
  color: white;
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.Sidebar {
  height: 100%;
  width: 250px;
  background-color: aqua;
}
