:root {
  --global--ItemPadding--sm: 10px;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-container {
  height: 100vh;
}

.header-item {
  padding: var(--global--ItemPadding--sm);
}



